

.welcome {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 65px;
    font-family: 'Montserrat', sans-serif; 
}

.create {
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Montserrat', sans-serif; 
    font-size: 35px;

}

.shopping{
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Montserrat', sans-serif; 
    font-size: 35px;
}

.search {
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Montserrat', sans-serif; 
    font-size: 35px;
}